/* @media screen and (min-width: 400px), screen and (orientation: landscape){
    body{
        color: blue
    }
} */

/* @media screen and (max-width:900px){
    body{
        color:blue
    }

} */

@media screen and (min-width : 900px){
    body{
        color : red
    }
}

@media screen and (max-width : 900px){
    body{
        color: green;
        background-color: magenta;
    }
}